<%- include('header') -%>



<div style="margin-left: 20px;">

    <h1><%= title %></h1>

    <% if (errors.length > 0) { %>
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
      <% } else {%>
        <form method="POST">
          <div class="form-group">
              <label for="name">Genre:</label>
              <input
                id="name"
                class="form-control"
                type="text"
                placeholder="Fantasy, Poetry etc."
                name="name"
                required
                value= "<%= (typeof genre === 'undefined' ? '' : genre.name) %>"
              />
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <% } %>
</div>